# Python
*.pyc
__pycache__/
*.pyo

# Django
*.log
*.pot
*.pyc
db.sqlite3
/staticfiles/
/media/

# Secret keys
.env

# Dependency directories
/env/
/.venv/
/.env/

# IDE specific files
.vscode/
.idea/


# Compiled Python bytecode
*.pyc

# Ignore migrations for each app
**/migrations/
