{% extends 'base.html' %}

{% block content %}
<div class="container">
        <div class="card">
            <h2 class="card-title">Web Scraper</h2>
            <form method="post" action="{% url 'webscrapify_app:scrape' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="url">Enter URL here:</label>
                    <input type="url" id="url" class="form-control" name="url" placeholder="https://example.com" required>
                    <div class="invalid-feedback">Please enter a valid URL.</div>
                </div>
                <button type="submit" class="btn btn-scrape">Scrape</button>
            </form>
        </div>
    </div>

    {% endblock %}